@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <p>Dedicated to:</p>
    <p>I start this project the night of the disasters in my city Manizales.</p>
    <p>for this reason I dedicate this project tho the victims of thad day.</p>
</address>

<address>
    <strong>Yo can send me a tweet:</strong> <a href="http://www.twitter.com/mariobot" target="_blank">@@MaRioBoT</a><br />
</address>